body::before {
  display: block;
  content: '';
  height: 60px;
}

.bringonbtn {
  background-color: crimson !important;
  border-color: crimson;
}

.bringonbtn:hover {
  border-color: crimson;
}

.bringonlink {
  color: crimson !important
}

.bringonbrand {
  color: crimson;
}
#link-item:hover{
  color: crimson;
}
.linkafter::after{
color: crimson;
}

