body::before {
  display: block;
  content: '';
  height: 60px;
}

.bringonbtn {
  background-color: crimson !important;
  border-color: crimson;
}

.bringonbtn:hover {
  border-color: crimson;
}

.bringonlink {
  color: crimson !important
}

.bringonbrand {
  color: crimson;
}
#link-item:hover{
  color: crimson;
}
.linkafter::after{
color: crimson;
}
/* .my-row{
  border: 2px solid red;
}
.my-col{
  border: 2px solid green; 
} */

.card{
  border-radius: 15px;
}